<!doctype html>
<html>
<head>

<title>mini chat</title>
<meta charset="utf-8">

</head>
<body>

<script src="libjquery.js"></script>
<script src="libvue.js"></script>
<script>
function post(form,action=''){
    $.post(action,$(form).serialize())
    $(form).trigger('reset')
}
</script>

<script>
function fbAsyncInit(){
    FB.init({
        appId:'591217797914842',
        autoLogAppEvents:true,
        xfbml:true,
        version:'v2.12',
    })
}
</script>
<!-- <script id="facebook-jssdk" src="https://connect.facebook.net/en_US/sdk.js"></script> -->

<script>
function fb_login(){
    FB.getLoginStatus(function(response) {
        if (response.status === 'connected') {
            var user_id=response.authResponse.userID
            console.log('user id',user_id,'logged in')
            //vue.$data.username=user_id            
        }
        else {
            FB.login()
        }
    })
}
//$(fb_login)
</script>

<div id="vue">

<form onsubmit="post(this, '_.php'); getUsername(); return false" v-if="username==''">
<input type="text" placeholder="username" name="username">
<input type="password" placeholder="password" name="password">
<input type="submit" value="login">
</form>

<div v-if="username!=''">

<form onsubmit="post(this, '_.php'); return false">
<input type="text" v-bind:placeholder="usernamePlaceholder" name="message_content" autocomplete="off">
<input type="submit" value="send">
</form>

<div v-for="item in items">
<div>{{item.username}}: {{item.message_content}}</div>
</div>

</div>

</div>

<script>

var vue = new Vue({
el: '#vue',
data: {
    items: [],
    username: '',
    },
computed: {
    usernamePlaceholder: function(){ return "message from "+this.username }
    },
})

setInterval(function(){jQuery.getJSON('_.php?query=messages',function(data){ vue.$data.items=data })}, 5000)

function getUsername(){
    jQuery.getJSON('_.php?query=username',function(data){ vue.$data.username=data })
}

</script>

</body>
</html>
